.container {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

.admin {
    min-height: 100vh;
    height: auto;
    background: rgb(37, 184, 193);
    background: linear-gradient(133deg, rgba(37, 184, 193, 1) 14%, rgba(245, 255, 0, 0.8155637254901961) 100%);
}

.adminInner {
    display: flex;
    padding: 0 0 2rem 0;
    column-gap: 2rem;

    .adminAcide {
        padding: 1.25rem;
        display: grid;
        border-radius: 10px;
        background-color: #fff;
        height: fit-content;

        .adminList {
            height: fit-content;
            display: grid;
            row-gap: 1rem;
            line-height: 2rem;
            padding: 0;

            .link {
                color: black;
                text-decoration: none;
                list-style: none;
                border-bottom: 1px solid rgba(37, 184, 193, 1);
                transition: all .5s ease .1s;
                font-weight: 500;

                &:hover {
                    border-bottom: 1px solid rgba(255, 217, 0, 0.816);
                }
            }
        }
    }

    .adminList {
        height: fit-content;
        display: grid;
        row-gap: 1rem;
        line-height: 2rem;
        padding: 0;

        .link {
            color: black;
            text-decoration: none;
            list-style: none;
            border-bottom: 1px solid rgba(37, 184, 193, 1);
            transition: all .5s ease .1s;
            font-weight: 500;

            &:hover {
                border-bottom: 1px solid rgba(255, 217, 0, 0.816);
            }
        }
    }

    .table {
        display: grid;
    }

    .adminInform {
        padding: 1.25rem;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        display: grid;
        animation: wiggle2 .5s ease;

        .adminTableBlock {
            display: grid;
            align-content: space-between;

            .adminTableHeader {
                display: flex;
                column-gap: 1rem;
                align-items: center;

                .adminItem {
                    white-space: nowrap;
                    width: 185px;
                    font-size: 18px;
                    font-weight: 600;
                    padding-bottom: 1.5rem;
                    color: rgb(26, 139, 145);
                }

                .adminId {
                    width: auto;
                }
            }

            .adminTableBody {
                display: flex;
                column-gap: 1rem;
                align-items: center;

                .adminItem {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 185px;
                    line-height: 35px;
                }

                .adminId {
                    width: auto;
                }
            }

            .adminButtons {
                display: flex;
                column-gap: 2rem;

                .adminButton {
                    padding: 0.7rem;
                    width: 15%;
                    background: transparent;
                    border: 1px solid rgb(26, 139, 145);
                    border-radius: 10px;
                    transition: all .5s ease .1s;

                    &:hover {
                        color: #fff;
                        background: rgb(26, 139, 145);
                    }
                }
            }
        }
    }
}

.adminNav {
    display: flex;
    justify-content: space-between;

    .adminNavInner {
        display: flex;
        width: 60%;
        column-gap: 1rem;
    }
}

.buttonApp {
    height: fit-content;
    padding: 0.5rem 1.25rem;
    background-color: rgb(169, 221, 149);
    border: none;
    color: #fff;
    border-radius: 18px;
    transition: all 0.7s ease;

    &:hover {
        background-color: rgb(143, 221, 112);
    }
}

.appCardMenu {
    padding-top: 2rem;
    display: flex;
    column-gap: 2rem;
}

.appCard {
    width: 30%;
    border-radius: 20px;
    background-color: rgb(216, 238, 196);
    padding: 1rem;
}

.appCardItem {
    display: flex;
    justify-content: space-between;
}

.appName {
    display: grid;
    row-gap: 1rem;
}

.fragment {
    background-color: rgb(216, 238, 196);
    display: flex;
    justify-content: space-between;
}

.dropdownApp {
    background-color: rgb(169, 221, 149);
    border: 0;
    border-radius: 15px;
}


//-----MESSAGES
.screen {
    background-color: #fff;
    // height: 400px;
    width: 70%;
    margin: 0 auto;
}

.conversation {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    // height: calc(100% - 50px);
    overflow: auto;
    padding: 20px;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
        width: 0;
    }
}

.messages {
    margin-bottom: 10px;

    &Received {
        .message {
            float: left;
            background-color: rgb(37, 184, 193);
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
            animation: wiggle2 .5s ease;

            &:first-child {
                border-top-left-radius: 15px;
                max-width: 60%;
            }

            &:last-child {
                max-width: 60%;
                border-bottom-left-radius: 15px;
            }
        }
    }

    &Sent {
        .message {
            width: fit-content;
            max-width: 50%;
            float: right;
            background-color: #1998e6;
            color: #fff;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            animation: wiggle2 .5s ease;

            &:first-child {
                border-top-right-radius: 15px;
            }

            &:last-child {
                border-bottom-right-radius: 15px;
            }
        }
    }
}

.message {
    display: grid;
    margin-bottom: 2px;
    clear: both;
    padding: 7px 13px;
    font-size: 12px;
    border-radius: 15px;
    line-height: 1.4;

    &Thumb {
        background-color: transparent !important;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 10px;
        width: 20px;
        height: 20px;
        border-radius: 0px !important;
    }

    .textSpan {
        opacity: 0.5;

    }
}

.textBar {
    display: flex;
    align-items: center;
    height: 50px;
    border-top: 1px solid #ccc;

    &Field {
        float: left;
        width: calc(100% - 50px);
        height: 100%;

        input {
            width: 100%;
            height: 100%;
            padding: 0 20px;
            border: none;
            position: relative;
            vertical-align: middle;
            font-size: 14px;
        }
    }

    &Thumb {
        float: left;
        width: 50px;
        height: 100%;
        padding: 10px;

        &:hover {
            opacity: .8;
        }

        .thumb {
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }
}

.thumb {
    display: block;
    // @extend .thumb-img;
}

@keyframes wiggle2 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.emoji {
    width: 40px;
    cursor: pointer;
    position: relative;
}

.emoji img {
    vertical-align: middle;
}

.emojies {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 100%;
}

.scrollBox {
    max-height: 100px;
    overflow-x: auto;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
}

.positionButton {
    text-align: center;
}

@media screen and (max-width:1210px) {
    .adminInner {
        flex-direction: column;
        row-gap: 20px;

        .adminAcide {
            padding: .7rem 0 0 1.25rem;
            .adminList {
                flex-wrap: wrap;
                display: flex;
                column-gap: 16px;
                
            }
        }
        .adminInform{
            overflow: auto; 
        }
    }
    .appCardMenu {
        flex-direction: column;
        row-gap: 20px;
    }
    .appCard{
        width: auto;
    }
    .adminNav {
        display: grid;
        row-gap: 20px;
    
        .adminNavInner {
            flex-wrap: wrap;
            row-gap: 20px;
            display: flex;
            width: auto;
            column-gap: 1rem;
        }
    }
    .conversation{
        width: 100%;
    }

    .textBar {
        &Field {   
            input {
                padding: 0 5px;
            }
        }
    }
}